body{
  background-color: grey;
  color: red;
  }
  body>div{
  background-color: darkgrey;
  height: 400px;
  width: 400px;
  }
  body>div>div{
  background-color: silver;
  margin: 10px;
  width: 180px;
  height: 180px;
  float: left;
  }
  body>div>div>div{
  background-color: grey;
  margin: 5px;
  width: 80px;
  height: 80px;
  float: left;
  }
  body>div>div:first-child>div:first-child,body>div>div:first-child>div:last-child{
  background-color: white;
  }
  body>div>div:last-child>div:first-child,body>div>div:last-child>div:last-child{
  background-color: white;
  }
  body>div>div:nth-child(2)>div:nth-child(2){
  background-color: white;
  }
  body>div>div:nth-child(2)>div:nth-child(3):hover+div{
  background-color: white;
  }
